---
const links = [
  { name: "Listado", href: "/" },
  { name: "Paginado", href: "/pokemons/1" },
  { name: "Favoritos", href: "/favorites" },
  { name: "Islas", href: "/islands" },
];
const currentPath = Astro.url;
---

<!-- component -->
<nav class="shadowbg-slate-800">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    <!-- {
        links.map(({name, href})=>
        <a 
        class:list={[
          "text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6",
          {
            'border-blue-500': currentPath['pathname'] === href,
            'border-b-2': currentPath['pathname'] === href,
          }
        ]}
        href={href}
        >{name}</a>    
    )
    } -->
    {
      links.map(({ name, href }) => (
        <div>
          <a
            class="text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6"
            href={href}
          >
            {name}
          </a>
          {
            currentPath.pathname === href ? (
              <div class="border-b-2 border-blue-500 mx-5" transition:name="menu-line"/>
            ):(
              <div class="border-b-2 border-transparent mx-5"/>
            )
          }
        </div>
      ))
    }
  </div>
</nav>
